<%= simple_form_for(@contact, data: { turbo: :false }) do |f| %>
  <%= f.error_notification %>
  <div class= "form-inputs my-3">
    <%= f.input :first_name,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "first name" } %>
    <%= f.input :last_name,
                requred: true,
                autofocus: true,
                input_html: { autocomplete: "last name" } %>
    <%= f.input :job_title,
                autofocus: true,
                input_html: { autocomplete: "job title" } %>
    <%= f.input :company,
                autofocus: true,
                input_html: { autocomplete: "company" } %>
    <%= f.input :contact_email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
    <%= f.input :phone_number,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "phone number" } %>
  </div>
  <div class="form-actions">
    <%= f.button :submit, "Submit", { class: "btn-flat" } %>
    <%= link_to "Back", :back, class: "btn btn-link" %></p>
  </div>
<% end %>
