<% @contacts.each do |contact| %>
  <div class="contact-card" data-controller="flip-card" data-action="click->flip-card#flip">
    <div class="contact-card-inner">
      <div class="contact-card-front" data-flip-card-target="front">
        <div class="contact-image">
          <% if contact.profile_picture.present? %>
          <%= image_tag(contact.profile_picture, class: "avatar-large") %>
          <% else %>
          <%= image_tag('https://avatars.githubusercontent.com/u/21041797?s=200&v=4', class: "avatar-large") %>
          <% end %>
        </div>
        <div class="contact-info">
          <h4><%= contact.full_name %></h4>
          <p><%= contact.job_title %> @ <%= contact.company %></p>
          <p><i class="fa-solid fa-envelope fa-lg"></i> <%= contact.contact_email %></p>
          <p><i class="fa-solid fa-phone fa-lg"></i> <%= contact.phone_number %></p>
        </div>
      </div>
      <div class="contact-card-back hidden" data-flip-card-target="back">
          <div class="contact-versions">
            <%= render partial: "versions", locals: { contact: contact } %>
          </div>
          <div class="contact-actions">
            <%= link_to "Edit", edit_contact_path(contact), class: "btn btn-primary m-1" %>
            <%= link_to "Delete", contact_path(contact), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-danger m-1" %>
          </div>
      </div>
    </div>
  </div>
<% end %>
