<div class="contact-card">
  <div class="contact-picture">
    <%= image_tag(contact.profile_picture) %>
  </div>
  <div class="contact-info">
    <h4><%= contact.full_name %></h3>
    <p><%= contact.contact_email %></p>
    <p><%= contact.phone_number %></p>
    <p><%= contact.address %></p>
  </div>
</div>
